html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	width: 100%;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Do not write a css rule above here! Use the space below  */


/* Write your css below here */
/**** Designing for MOBILE FIRST ****/
* {
	box-sizing: border-box;
	line-height: 1.5em;
}
h1{
	padding: 10px;
	justify-content: center;
	text-align:justify;
	color: #130c0d;
	font-style: italic;
    width:600%;
    font-size: xx-large;
	display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    background-color: red;
}
h2,
h3,
h4 {
	text-transform: uppercase;
}
header {
	background-color: #c01919;
	color: #2d3dca;
	text-align: center;
	padding: 8px;
	margin-bottom: 0;
	font-size: 1.3em;
	
}
.main-right{
    background-color: #b5ead8;
    padding: 15px;
	text-justify: auto;
	image-orientation: flip;
}
.main-left{
	padding: 2rem;
}

nav {
	margin-top: 0;
	text-align: end;
	justify-items: center;
}

main div{
	display: flex;
	flex-direction: column;
}
main {
	width: 100%;
	display: flex;
	flex-direction: column;
}

main aside span a:focus {
	border: 1px solid #CCC;
}
footer {
	background-color: #373737;
	color: #B1942B;
	padding: 15px;
	text-align: center;
	width: 100%;
}

footer .footer-bottom{
	margin-top: 15px;
	height: 20px;
}
/**** For LARGE DEVICES ****/
@media screen and (width >= 768px) {
	body {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
	}
	
	nav li a {
		margin: 50px;
		font-size: 1em;
		padding: 2px 5px 5px;
	}
	main {
		flex-direction: row;
		padding: 0 30px;
	}
	main section {
		width: 80%;
		margin-right: 20px;
	}
	main aside {
		width: 20%;
		margin: 50px;
	}
	footer {
		margin-top: auto;
	}
}
